<!DOCTYPE html>
<html lang="en">
    <head>
        <title>企业客户信息</title>
        <meta charset="UTF-8" />
        <meta name="Author" content="" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" /> 
        <!-- 样式库 -->
	    <link rel="stylesheet" href="../../js/bootstrap/themes/default/bootstrap.css" />
	    
	    <!-- 插件库 -->
		<script src="../../js/common/json2.js"></script>	
		<script src="../../js/common/jquery-1.11.3.min.js"></script>	
		<script src="../../js/common/jquery.form.js"></script>		
		<script src="../../js/common/package.js"></script>
		<script src="../../js/common/url.js"></script>
		<script src="../../js/bootstrap/bootstrap.js"></script>
		
		<!-- 业务库 -->
		<script src="../../js/common/base.js"></script>
		
		<script type="text/javascript">
		</script>
		
    </head>
    <body align="center">  
    	<form id="updateForm" action="/consumer.web/test/tt.do">
    		<h2>测试</h2>
    		id : <input type="text" name="id"/><br/><br/>
    		name : <input type="text" name="name"/><br/><br/>
    		cc : <input type="text" name="cc"/><br/><br/>
    		<input type="submit" id="btn" value="提交"/>
    	</form>
    </body>
</html>